.activity__wrapper {
    width: 835px;
    height: 320px;
    margin-top: 77px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    padding-top: 24px;
    padding-left: 32px;
}

.activity__title {
    margin-bottom: 35px;
}

.activity__title h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #20253A;
}

.hover__activity {
    background: red;
    padding: 5px;
    color: white;
    width: 39px;
    height: 63px;
    display: flex;
    flex-direction: column;
    border: none;
}

.hover__activity p {
    margin: 0;
    font-weight: 500;
    font-size: 7px;
    line-height: 24px;
    text-align: center;
}