.dashboard__wrapper {
  position: relative;
  height: 100vh;
  margin-left: 117px;
  padding: 68px 0 0 107px;
}

.dashboard__wrapper h1,
.dashboard__span {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
}

.dashboard__span {
  color: red;
}

.dashboard__wrapper p {
  margin-top: 41px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.dashboard__data {
  display: flex;
  margin-top: 30px;
  width: 850px;
  height: 263px;
}

.dashboard__data > * {
  position: relative;
  height: 263px;
  width: 100%;
  max-width: 258px;
  margin-right: 30px;
}

@media only screen and (max-width: 1400px) {
  .dashboard__wrapper {
    padding: 20px;
  }
  .dashboard__data {
    max-width: 650px;
  }

  .dashboard__data > * {
    max-height: 200px;
    max-width: 200px;
    margin-right: 20px;
  }
}
