.dashboard__wrapper {
  position: relative;
  height: 100vh;
  margin-left: 117px;
  padding: 68px 0 0 107px;
  max-width: 1250px;
}

.dashboard__wrapper h1,
.dashboard__span {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 24px;
}

.dashboard__span {
  color: red;
}

.dashboard__wrapper p {
  margin-top: 41px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.dashboard__content {
  display: flex;
  justify-content: space-between;
}

.dashboard__data {
  display: flex;
  flex-direction: column;
}

.dashboard__SePerSc > * {
  position: relative;
  height: 263px;
  width: 100%;
  max-width: 258px;
}

.dashboard__SePerSc {
  display: flex;
  margin-top: 30px;
  width: 840px;
  height: 263px;
  justify-content: space-between;
}

.dashboard__nutrition {
  width: 258px;
  height: 640px;
  margin-top: 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1400px) {
  .dashboard__wrapper {
    padding: 20px;
    max-width: 1000px;
  }
  .dashboard__data {
    max-width: 650px;
  }

  .dashboard__SePerSc {
    max-width: 100%;
  }

  .dashboard__SePerSc > * {
    max-height: 200px;
    max-width: 200px;
  }

  .dashboard__nutrition {
    max-height: 580px;
  }
}
