.home__wrapper {
  position: relative;
  height: calc(100vh - 91px);
  margin-left: 117px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home__content {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.home__content img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}
